<div class='mlk-activity-buckets'>
  <div class='mlk-activity-bucket'>
    <img src='/img/mlk/get_involved.jpg'>
    <hr>
    <h2>Get involved</h2>
    <p class='gray-text'>Sign up for the next festival</p>
    <p class='learn-more-link'>
      <a href='#'>Learn More >></a>
    </p>
  </div>
  <div class='mlk-activity-bucket'>
    <img src='/img/mlk/donate.jpg'>
    <hr>
    <h2>Contribute</h2>
    <p class='gray-text'>Support the next festival</p>
    <p class='learn-more-link'>
      <a href='#'>Learn More >></a>
    </p>
  </div>
</div>
