<div class='mlk-faq'>
  <h1 class='page-title'>FAQ</h1>

  <p><em>
    Do you provide documentation of my volunteer time?
  </em></p>
  <p>
    We are able to provide documentation for companies or individual on a request-basis.
  </p>

  <p><em>
    I have children, can they help too?
  </em></p>
  <p>
    Our events are for all ages! We have volunteer activities specialized for
    those with children to allow them to learn the value of community efforts in
    an easy, controlled setting.
  </p>

  <p><em>
    I want to register with my friends. Will we be put together?
  </em></p>
  <p>
    We work to keep groups joined as much as possible! If you work with a friend
    or a group, we request you to list theor name so we can schedule you together.
    Keep in mind if you work on different days of the event you will miss each
    other (so why not volunteer for all four?).
  </p>

  <p><em>
    I have limited mobility. Is there a way I can still help?
  </em></p>
  <p>
    When volunteering note your limitations, we will work directly with you to
    make sure there's a way for you to help impact your community within your
    skillsets. We want everyone interested in bettering their community to be
    able to impact however they can!
  </p>
</div>
