<div class='mlk-testimonial'>
  <div class='mlk-testimonial-inner'>
    <div class='mlk-testimonial-space-left'></div>
    <img src='/img/mlk/raymond.jpg'>
    <blockquote>
      <p>
        Being a part of the MLK service activities of 2017 in the neighborhood in
        which I grew up was a very meaningful experience. To share with people from
        all walks of life, from all over the community, was inspiring. Driving through
        the neighborhood and remembering brings a smile to my spirit.
      </p>
      <p>
        Raymond A. Jetson<br/>
        President, CEO MetroMorphosis
      </p>
    </blockquote>
  </div>
</div>
