<div class='mlk-volunteer-buckets-wrapper'>
  <div class='mlk-volunteer-buckets'>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/meetings.jpg" alt="An MLK planning meeting">
      <a class='btn' href="https://www.facebook.com/events/312367732864021/">Attend planning meetings >></a>
    </div>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/volunteer.jpg" alt="MLK volunteers">
      <a class='btn' href="https://mlk2019.paperform.co/">Register to volunteer >></a>
    </div>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/volunteer_group.jpg" alt="A Large MLK volunteer group">
      <a class='btn' href="https://paperform.co/edit/ehghfmuq/">Large volunteer groups >></a>
    </div>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/artist.jpg" alt="An MLK mural artist">
      <a class='btn' href="http://eepurl.com/djN0_j">Be a mural artist >></a>
    </div>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/partner.jpg" alt="Our MLK resource fair">
      <a class='btn' href="https://mlkvendor.paperform.co/">Vendor at our resource fair >></a>
    </div>
    <div class='mlk-volunteer-bucket'>
      <img src="/img/mlk/block_party.jpg" alt="The MLK block party">
      <a class='btn' href="https://mlkblockparty.paperform.co/">Perform at our block party >></a>
    </div>
  </div>
</div>
