<footer>
  <div class='footer-col'>
    <ul class='footer-links'>
      <li><a href='#'>Programs</a></li>
      <li><a href='#'>Community Partners</a></li>
      <li><a href='#'>About</a></li>
      <li><a href='#'>Media Kit</a></li>
      <li><a href='#'>Events</a></li>
      <li><a href='#'>Board</a></li>
      <li><a href='#'>Contribute</a></li>
      <li><a href='#'>Contact Us</a></li>
    </ul>
  </div>
  <div class='footer-col'>
    <form action="https://theforceagency.us2.list-manage.com/subscribe/post?u=7f761eb1a479107a05786071f&amp;id=d137f3d64d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-form" target="_blank" novalidate>
      <label for='mce-EMAIL'>Subscribe to our mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f761eb1a479107a05786071f_d137f3d64d" tabindex="-1" value=""></div>
      <input class='btn' type="submit" value="Subscribe" name="subscribe">
    </form>
    <div class='copyright-container'>
      <p>Copyright 2018 &bull; The Walls Project is a 501(c)3 organization</p>
      <p>458 America St &bull; Baton Rouge, LA 70802</p>
    </div>
  </div>
</footer>
