<footer class = "site-footer">
  <div class = "footer-container">
    <div class = "footer-row">
      <h6>Let's Be Social</h6>
      <div class = "footer-social">
        <ul class = "footer-social-icons">
          <li><a class = "facebook" href = "#"><i class = "fa fa-facebook"></i></a></li>
          <li><a class = "twitter" href = "#"><i class = "fa fa-twitter"></i></a></li>
          <li><a class = "instagram" href = "#"><i class = "fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div id = "footer-carousel" class = "footer-carousel carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class = "carousel-indicators">
        <li data-target = "#footer-carousel" data-slide-to="0" class="active"></li>
        <li data-target = "#footer-carousel" data-slide-to="1"></li>
        <li data-target = "#footer-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class = "carousel-inner">
        <div class = "item active">
          <img src = "http://beta.thewallsproject.org/img/murals/wall_036/center.jpg" alt = "Ducks">
        </div>
        <div class = "item">
          <img src = "http://beta.thewallsproject.org/img/murals/wall_036/center.jpg" alt = "Ducks">
        </div>
        <div class = "item">
          <img src = "http://beta.thewallsproject.org/img/murals/wall_036/center.jpg" alt = "Ducks">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class = "left carousel-control" href = "#footer-carousel" data-slide="prev">
        <span class = "glyphicon glyphicon-chevron-left"></span>
        <span class = "sr-only">Previous</span>
      </a>
      <a class = "right carousel-control" href = "#footer-carousel" data-slide="next">
        <span class = "glyphicon glyphicon-chevron-right"></span>
        <span class = "sr-only">Next</span>
      </a>
    </div>
    <div class = "footer-row">
      <div class = "footer-links">
        <ul class = "footer-links-left">
          <li><a href = "#">Programs</a></li>
          <li><a href = "#">About</a></li>
          <li><a href = "#">Events</a></li>
          <li><a href = "#">Murals</a></li>
          <li><a href = "#">The Futures Fund</a></li>
        </ul>
        <ul class = "footer-links-right">
          <li><a href = "#">Community</a></li>
          <li><a href = "#">Media Kit</a></li>
          <li><a href = "#">Board</a></li>
          <li><a href = "#">Contribute</a></li>
          <li><a href = "#">Contact Us</a></li>
        </ul>
      </div>
      <div class = "footer-spacearea"></div>
      <div class = "footer-listcopyright">
        <!-- Collin's Area -->
        <form action = "https://theforceagency.us2.list-manage.com/subscribe/post?u=7f761eb1a479107a05786071f&amp;id=d137f3d64d" id = "mc-embedded-subscribe-form" method = "post" name = "mc-embedded-subscribe-form" class = "validate mailchimp-form" target = "_blank" novalidate>
          <label for = "mce-EMAIL">Subscribe to our mailing list</label>
          <input id = "mce-EMAIL" class = "email" name = "EMAIL" value = "" placeholder = "Enter your email address..." required />

          <!-- Real people should not fill this in and expect good things - do not remove this or risk form bot signups !-->
          <div aria-hidden = "true" style = "position: absolute; left: -5000px"><input name = "b_7f761eb1a479107a05786071f_d137f3d64d" tabindex = "-1" type = "text" value = "" /></div>
          <input class = "btn" type = "submit" value = "Subscribe" name = "subscribe" />
        </form>
        <p class="copyright-text">
          <span>Copyright &copy; 2018 · The walls project is a 501(c) (3) organization</span> 
          <br/>
          <span>Powered by the students of The Futures Fund Coding Program</span>
        </p>
      </div>
    </div>
  </div>
</footer>
