<div class='method-bubbles'>
  <div class='method-bubble' id='method_bubble_create'>
    <img src='/img/shared/create.svg'>
  </div>
  <div class='method-bubble-join method-bubble-join-left'></div>
  <div class='method-bubble' id='method_bubble_cultivate'>
    <img src='/img/shared/cultivate.svg'>
  </div>
  <div class='method-bubble-join method-bubble-join-right'></div>
  <div class='method-bubble' id='method_bubble_reactivate'>
    <img src='/img/shared/reactivate.svg'>
  </div>
</div>
<div class='method-bubbles-info'>
  <h2 id='method-bubbles-title'>Create</h2>
  <p class='justify' id='method-bubbles-text'>The Walls uses visual storytelling to create art which inspires, educates, and develops a community's pride and sense of place through murals, sculpture, and digital installations. To date, The Walls has engaged hundreds of professional artists and thousands of community volunteers to create 70 public art installations, and contribute over $1,000,000 in economic growth to the Capital region's creative sector.</p>
</div>
<div class='method-bubbles-buttons'>
  <button class='btn method-bubbles-button-left'>&laquo; Something</button>
  <button class='btn method-bubbles-button-right'/>Create &raquo;</button>
</div>
