<div class='program-buckets'>
  <div class='program-bucket'>
    <img src='/img/home/create.png'>
    <hr>
    <p>Redefine through <strong>Art</strong></p>
    <p class='gray-text'>Local murals and art installations</p>
  </div>
  <div class='program-bucket'>
    <img src='/img/home/cultivate.png'>
    <hr>
    <p>Redefine through <strong>Education</strong></p>
    <p class='gray-text'>Specialized skill classes for Youth</p>
  </div>
  <div class='program-bucket'>
    <img src='/img/home/reactivate.png'>
    <hr>
    <p>Redefine through <strong>Community</strong></p>
    <p class='gray-text'>MLK Festival of Service</p>
  </div>
</div>
