.programs {
  margin-bottom: 4rem;
  text-align: left;
}

.programs-title {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.program-image {
  margin: 2rem 0 0;
  width: 100%;
}

.program-header {
  align-items: center;
  display: flex;
  margin: .5rem 0;

  img {
    height: 50px;
  }

  h2 {
    font-size: 1.8rem;
    margin: 0 0 0 1rem;
    padding: 0;
    text-transform: uppercase;
  }
}

.btn-programs {
  text-align: left;
}
