@import 'colors';

html,
button,
input {
  color: $black-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.gray-text {
  color: darken($gray-color, 30);
}
