---
permalink: /programs/futures_fund/
---

<h1 class='page-title'>The Futures Fund</h1>

<center> <iframe width="560" height="315" src="https://www.youtube.com/embed/_vuPAYqcW28" frameborder="0" 
                 allow="autoplay; encrypted-media" allowfullscreen></iframe> </center>

<p class='justify'>
  Through The Futures Fund, a STEAM education and workforce development program,
  The Walls train middle and high school for the jobs of the future. The ten-week
  program is administered every spring and fall by highly trained industry
  professionals to build a sustainable ecosystem of economic empowerment and
  development with youth.
</p>

<p class='justify'>
  In the Digital Arts program, students learn computer programming languages such
  as CSS, HTML, Javascript, Ruby, and Python. In the Visual Arts program, students
  train with photographers gaining skills and insight unavailable elsewhere. In
  addition, all students learn 21st century soft skills, such as critical and
  creative thinking, professional communication, effective collaboration, problem
  solving, analysis with evidential support, project management, and public speaking.
</p>

{% include futures_fund/course_buckets.html %}

<br>
<center> 
  <b>Fall 2018 Semester</b>
<table style="width:60%">
  <tr>
    <th>Week</th>
    <th>Date</th>
    <th>Time</th>
    </tr>
   <tr>
    <td>Week 1</td>
    <td>9/08</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
    <td>Week 2</td>
    <td>9/15</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
     <td>Week 3</td>
    <td>9/22</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr>
    <td>Week 4</td>
    <td>10/06</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr> 
    <td>Week 5</td>
    <td>10/13</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
  <tr>
    <td>Week 6</td>
    <td>10/20</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 7</td>
    <td>11/03</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
            <tr>
    <td>Week 8</td>
    <td>11/17</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 9</td>
    <td>12/01</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
</table>
<br>
  <b>Spring 2019 Semester</b>
<table style="width:60%">
  <tr>
    <th>Week</th>
    <th>Date</th>
    <th>Time</th>
    </tr>
   <tr>
    <td>Week 1</td>
    <td>2/02</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
    <td>Week 2</td>
    <td>2/09</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
     <td>Week 3</td>
    <td>2/16</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr>
    <td>Week 4</td>
    <td>2/23</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr> 
    <td>Week 5</td>
    <td>3/09</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
  <tr>
    <td>Week 6</td>
    <td>3/16</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 7</td>
    <td>3/23</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 8</td>
    <td>3/30</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 9</td>
    <td>4/06</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 10</td>
    <td>4/13</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
</table>
  <br>
  <b>Fall 2019 Semester</b>
<table style="width:60%">
  <tr>
    <th>Week</th>
    <th>Date</th>
    <th>Time</th>
    </tr>
   <tr>
    <td>Week 1</td>
    <td>9/07</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
    <td>Week 2</td>
    <td>9/14</td>
    <td> 8:30 AM - 1 PM </td>
   
  </tr>
  <tr>
     <td>Week 3</td>
    <td>9/21</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr>
    <td>Week 4</td>
    <td>10/05</td>
    <td> 8:30 AM - 1 PM </td>
    
  </tr>
  <tr> 
    <td>Week 5</td>
    <td>10/12</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
  <tr>
    <td>Week 6</td>
    <td>10/19</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 7</td>
    <td>10/26</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 8</td>
    <td>11/02</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 9</td>
    <td>11/09</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
      <tr>
    <td>Week 10</td>
    <td>11/16</td>
    <td> 8:30 AM - 1 PM </td>
    </tr>
</table>
  <br>  
<p class='justify'>
  By developing these skills early, students are set on a path to secondary education,
  or a career in growing industries with higher earning potential. To date, participants
  have generated $30,000 in revenue through our program with internships and product
  sales and have launched their own startup businesses in web-design, photography,
  apparel design, and social media marketing.
</p>
<p class='justify'>
  The Futures Fund is comitted to building sustained economic development, while working
  towards a systemic reduction of poverty.
</p>

{% include futures_fund/apply_cta.html %}
