---
layout: site
permalink: /programs/mlk/
---

<div class='content'>
  <h1 class='page-title'>MLK Day of Service</h1>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/z6Q5FjoQmS4"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  
  <p class='justify'>
    In order to revitalize and reactivate neighborhoods, The Walls empowers the
    community, initiates artistic engagement, and encourages volunteers from
    surrounding areas to participate in community driven clean-ups, murals,
    and enrichment activities.
  </p>
  <p class='justify'>
    Through these cultural redevelopment projects, we hope to encourage business
    owners, civic leaders, volunteers, and local families to commit to place and
    actively participate and invest where they live and work.
  </p>
  <p><a href='/img/pdf/mlk_casestudy.pdf' class='btn'>Read our REACTIVATE case study</a></p>

  {% include mlk/activity_buckets.html %}

  <p class='justify'>
    Through the principles of creative placemaking, The Walls empowers citizens
    to rejuvenate public and private structures and streetscapes, which improves
    local business visibility and public safety, and brings diverse people together
    to inspire and be inspired by their city.
  </p>
  <p class='justify'>
    Encompassing our 'Reactivate' initiative is our MLK day Festival of Service.
    This four-day event facilitates the painting of blighted buildings and murals,
    planting community gardens and trees, repairing fences, and hauling trash
    away from properties.
  </p>
  <p class='justify'>
    These creative efforts are fostering an environment for investment, job creation,
    and economic development, reducing and closing wealth inequality in our rural
    and urban communities.
  </p>
</div>
{% include mlk/testimonial.html %}
