---
layout: site
permalink: /
---

<div class='content'>
  <h1>Redefine the walls that surround you</h1>

  <p class='justify'>
    The Walls Project is a 501(c)3 nonprofit organization that began as a collaborative effort in
    November 2012 between a number of entrepreneurial real estate and social
    communities in Baton Rouge, Louisiana. We intend to bridge the gap between the
    artistic and business communities in order to accomplish not only city
    beautification but also economic development in order to serve a greater
    social good.
  </p>

  <p style='margin: 2.5rem 0;'><a href='/img/pdf/walls_caseforsupport_tothemax.4.23.pdf' 
                                  class='btn'>Read our story</a></p>

  {% include home/program_buckets.html %}
  {% include home/method_bubbles.html %}
</div>
{% include home/accomplishments_banner.html %}
{% include home/sponsor_marquee.html %}
