<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Walls Project</title>
    <meta name="description" content="The Walls Project is 501(c)3 nonprofit that began as a collaborative effort in November 2012 by between numbers of entrepreneurial real estate and social communities in Baton Rouge, Louisiana. We intend to bridge the gap between the artistic and business communities in order to accomplish not only city beautification but also economic development in order to serve a greater social good.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel='stylesheet' href='/styles.css'>
    <link rel='icon' type='image/png' href='/img/shared/favicon.png'>
  </head>
  {% include navbar.html %}
  {{content}}
  {% include footer.html %}
</html>
