<div class='accomplishments-banner'>
  <div class='content'>
    <div class='accomplishments-banner-cell'>
      <h2>94</h2>
      <p>
        Murals<br/>
        <strong>Created</strong>
      </p>
    </div>
    <div class='accomplishments-banner-cell'>
      <h2>700</h2>
      <p>
        Young Entrepreneurs<br/>
        <strong>Cultivated</strong>
      </p>
    </div>
    <div class='accomplishments-banner-cell'>
      <h2>45</h2>
      <p>
        City Blocks<br/>
        <strong>Reactivated</strong>
      </p>
    </div>
  </div>
</div>
