<div class='program-buckets'>
  <div class='program-bucket'>
    <a href="#"><img src='/img/home/create.png'></a>
    <hr>
    <p>Redefine through <br> <strong>Art</strong></p>
    <p class='gray-text'>Local murals and art installations</p>
  </div>
  <div class='program-bucket'>
    <a href="#"><img src='/img/home/cultivate.png'></a>
    <hr>
    <p>Redefine through <strong>Education</strong></p>
    <p class='gray-text'>Specialized skill classes for youth</p>
  </div>
  <div class='program-bucket'>
    <a href="#"><img src='/img/home/reactivate.png'></a>
    <hr>
    <p>Redefine through <strong>Community</strong></p>
    <p class='gray-text'>MLK Festival of Service</p>
  </div>
</div>
