<div class='course-buckets'>
  <div href='/programs/futures_fund/' class='course-bucket'>
    <img src='/img/futures_fund/digital_course.jpg'>
    <hr>
    <h2>Digital Courses</h2>
    <p class='gray-text'>Teens learn coding skills</p>
    <p class='learn-more-link'>
      <a href='#'>Learn More >></a>
    </p>
  </div>
  <div class='course-bucket'>
    <img src='/img/futures_fund/visual_course.jpg'>
    <hr>
    <h2>Visual Courses</h2>
    <p class='gray-text'>Teens learn photography skills</p>
    <p class='learn-more-link'>
      <a href='#'>Learn More >></a>
    </p>
  </div>
</div>
